{% extends "core/base.html" %}

{% load staticfiles %}

{% block title %}Styling Test{% endblock %}


{% block body %}
<div class="container">
    <br />
    <div class="jumbotron light-transparent">
        <h1 class="display-3">A big <i>header</i></h1>

        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
        <h5>Header 5</h5>

        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Primary</a>
            <a class="btn btn-dark btn-lg" href="#" role="button">Dark</a>
            <a class="btn btn-light btn-lg" href="#" role="button">Light</a>
            <a class="btn btn-info btn-lg" href="#" role="button">Info</a>
            <a class="btn btn-success btn-lg" href="#" role="button">Success</a>
            <a class="btn btn-warning btn-lg" href="#" role="button">Warning</a>
            <a class="btn btn-danger btn-lg" href="#" role="button">Danger</a>
        </p>

        <div class="row">
            {% with "3514 42125 3764 23773" as ships %}
                {% for ship in ships.split %}
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="card card-killmail border-dark" style="background-image: url('https://imageserver.eveonline.com/Render/{{ ship }}_512.png');">
                            <div class="card-header">
                                <img class="avatar" src="https://imageserver.eveonline.com/Character/93417038_64.jpg">
                                <div class="victim-details">
                                    <a href="#"><strong>Capri Sun KraftFoods</strong></a><br />
                                    <a href="#"><i>Revenant</i></a>
                                </div>
                            </div>
                            <div class="victim-avatars">
                                <a href="#"><img class="avatar" src="https://imageserver.eveonline.com/Corporation/98040755_64.png"></a>
                                <a href="#"><img class="avatar" src="https://imageserver.eveonline.com/Alliance/99005065_64.png"></a>
                            </div>

                            <div class="killmail-details">
                                <a href="#"><img class="avatar" src="https://imageserver.eveonline.com/Corporation/98115742_64.png"></a>
                                <a href="#"><img class="avatar" src="https://imageserver.eveonline.com/Alliance/864733958_64.png"></a>
                                <ul>
                                    <li>128.49B ISK</li>
                                    <li>48 Attackers</li>
                                </ul>
                            </div>
                            <div class="killmail-footer">
                                <a href="#"><img class="avatar" src="https://imageserver.eveonline.com/Character/94726691_64.jpg"></a>
                                <div class="final-blow-details">
                                    <a href="#"><strong>Capri Sun SUPERFOODS</strong></a><br />
                                    <a href="#"><i>Revelation</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endwith %}
        </div>
    </div>

    <table class="table table-sm table-borderless table-striped killmail-table">
        <thead>
            <tr>
                <th>When</th>
                <th colspan="2">Where</th>
                <th colspan="2">Victim</th>
                <th colspan="2">Final Blow</th>
            </tr>
        </thead>
        <tbody>
            {% with "3514 42125 671 23773" as ships %}
                {% for ship in ships.split %}
                    <tr>
                        <td>
                            00:25<br />
                            <a href="#">576.53m</a>
                        </td>

                        <td class="avatar">
                            <img src="https://imageserver.eveonline.com/Type/12044_64.png">
                        </td>
                        <td>
                            <span class="sec-0-4">0.4</span> <a href="#">Olettiers</a><br />
                            <a href="#">Sinq Laison</a>
                        </td>

                        <td class="avatar">
                            <img class="avatar" src="https://imageserver.eveonline.com/Alliance/99005065_64.png">
                        </td>
                        <td>
                            <a href="#">Capri Sun KraftFoods</a> (<a href="#">Revenant</a>)<br />
                            <a href="#">Hard Knocks Citizens</a>
                        </td>

                        <td class="avatar">
                                <img class="avatar" src="https://imageserver.eveonline.com/Alliance/864733958_64.png">
                        </td>
                        <td>
                            <a href="#">Capri Sun SUPERFOODS</a> (<a href="#">Revelation</a>)<br />
                            <a href="#">Psychotic Tendencies.</a> (48)
                        </td>
                    </tr>
                {% endfor %}
            {% endwith %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-9">
            <div class="fitting" style="background-image: url(https://imageserver.eveonline.com/Render/3764_512.png);">
                <div class="circle"></div>

                <img class="high-1-frames" src="{% static 'core/img/fitting/high-1-frame.png' %}">
                <img class="high high-1" src="https://imageserver.eveonline.com/Type/37294_64.png">
                <img class="high-2-frames" src="{% static 'core/img/fitting/high-2-frame.png' %}">
                <img class="high high-2" src="https://imageserver.eveonline.com/Type/37294_64.png">
                <img class="high-3-frames" src="{% static 'core/img/fitting/high-3-frame.png' %}">
                <img class="high high-3" src="https://imageserver.eveonline.com/Type/37294_64.png">
                <img class="high-4-frames" src="{% static 'core/img/fitting/high-4-frame.png' %}">
                <div class="high high-4"></div>
                <img class="high-5-frames" src="{% static 'core/img/fitting/high-5-frame.png' %}">
                <img class="high high-5" src="https://imageserver.eveonline.com/Type/37294_64.png">
                <img class="high-6-frames" src="{% static 'core/img/fitting/high-6-frame.png' %}">
                <img class="high high-6" src="https://imageserver.eveonline.com/Type/37294_64.png">
                <img class="high-7-frames" src="{% static 'core/img/fitting/high-7-frame.png' %}">
                <img class="high high-7" src="https://imageserver.eveonline.com/Type/37294_64.png">
                <img class="high-8-frames" src="{% static 'core/img/fitting/high-8-frame.png' %}">
                <div class="high high-8"></div>

                <img class="mid-1-frames" src="{% static 'core/img/fitting/mid-1-frame.png' %}">
                <img class="mid mid-1" src="https://imageserver.eveonline.com/Type/47408_64.png">
                <img class="mid-2-frames" src="{% static 'core/img/fitting/mid-2-frame.png' %}">
                <img class="mid mid-2" src="https://imageserver.eveonline.com/Type/47408_64.png">
                <img class="mid-3-frames" src="{% static 'core/img/fitting/mid-3-frame.png' %}">
                <img class="mid mid-3" src="https://imageserver.eveonline.com/Type/47408_64.png">
                <img class="mid-4-frames" src="{% static 'core/img/fitting/mid-4-frame.png' %}">
                <div class="mid mid-4"></div>
                <img class="mid-5-frames" src="{% static 'core/img/fitting/mid-5-frame.png' %}">
                <img class="mid mid-5" src="https://imageserver.eveonline.com/Type/47408_64.png">
                <img class="mid-6-frames" src="{% static 'core/img/fitting/mid-6-frame.png' %}">
                <img class="mid mid-6" src="https://imageserver.eveonline.com/Type/47408_64.png">
                <img class="mid-7-frames" src="{% static 'core/img/fitting/mid-7-frame.png' %}">
                <div class="mid mid-7"></div>
                <img class="mid-8-frames" src="{% static 'core/img/fitting/mid-8-frame.png' %}">
                <img class="mid mid-8" src="https://imageserver.eveonline.com/Type/47408_64.png">

                <img class="low-1-frames" src="{% static 'core/img/fitting/low-1-frame.png' %}">
                <img class="low low-1" src="https://imageserver.eveonline.com/Type/47408_64.png">
            </div>
        </div>
    </div>
</div>
{% endblock %}